/* Defult */
@font-face {
    font-family: "Yekan_Bakh";
    src: url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-05-MEDIUM.TTF");
    src: url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-04-REGULAR.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-06-BOLD.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-03-LIGHT.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-08-FAT.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN-BAKH-EN-07-HEAVY.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 04\ REGULAR.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 05\ MEDIUM.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 06\ BOLD.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 03\ LIGHT.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 07\ HEAVY.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 02\ THIN.TTF") format("TTF"),
        url("../fonts/Yekan_Bakh/YEKAN\ BAKH\ FANUM\ 08\ FAT.TTF") format("TTF"),
        /* woff fonts */
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Medium.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Regular.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Light.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Bold.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Heavy.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Fat.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Thin.woff") format("woff"),
        url("../fonts/Yekan_Bakh/wotf/YekanBakh-Hairline.woff") format("woff"),
        /* woff2 */
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Medium.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Regular.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Light.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Bold.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Heavy.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Fat.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Thin.woff2") format("woff2"),
        url("../fonts/Yekan_Bakh/wotf2/YekanBakh-Hairline.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}


@font-face {
    font-family: "Pinar";
    src: url("../fonts/Pinar/Pinar-Black.ttf");
    src: url("../fonts/Pinar/Pinar-Bold.ttf") format("TTF"),
        url("../fonts/Pinar/Pinar-DS1-ExtraBold.ttf") format("TTF");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "PeydaWeb Black";
    src: url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.eot");
    src: url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/b6012c0ae3de37a893ccd27ca8f2c41c.svg#PeydaWeb Black")format("svg");
}

* {
    font-family: "Yekan_Bakh";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #fff;
    direction: rtl !important;
    transition: .2s !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #fff;
}

::placeholder {
    color: #fff !important;
}

body {
    background-color: #FFFFFF;
}

html {
    scroll-behavior: smooth !important;
    position: relative;
}

.textheader h3,
.textheader span {
    color: #000000 !important;
    font-family: "Pinar" !important;

}



/* 
html::before {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background: url(../img/bg.png);
    background-position: left !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 100% !important; 
}


html::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background: url(../img/bg.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    width: 100% !important;
    height: 100% !important;
} */


@media (max-width: 1900px) {

    .intro,
    .secondintro,
    .conintrobotten,
    .concasinobox,
    .conboxcasinoonline,
    .conbestgame,
    .conmessage,
    .header-main,
    .conservise,
    .conarticle {
        padding-right: 120px !important;
        padding-left: 120px !important;
    }

}

@media (max-width: 1100px) {

    .intro,
    .secondintro,
    .conintrobotten,
    .concasinobox,
    .conboxcasinoonline,
    .conbestgame,
    .header-main,

    .conservise,
    .conmessage,
    .conarticle {
        padding-right: 70px !important;
        padding-left: 70px !important;
    }

}

@media (max-width: 768px) {

    .intro,
    .secondintro,
    .conintrobotten,
    .concasinobox,
    .conboxcasinoonline,
    .conbestgame,
    .header-main,

    .conservise,
    .conmessage,
    .conarticle {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}

@media (max-width: 1600px) {
    .textheader h3 {
        font-size: 26px !important;
    }
}

@media (max-width: 1400px) {
    .textheader h3 {
        font-size: 18px !important;
    }

    .textheaderleft p {
        font-size: 14px !important;
    }

    .textheaderleft i {
        font-size: 14px !important;
    }

}

@media (max-width: 600px) {

    .textheader h3,
    .textheader span {
        font-size: 16px !important;
    }


    .textheaderleft p {
        font-size: 14px !important;
        padding-bottom: 5px !important;
    }

    .textheaderleft i {
        font-size: 12px !important;
        padding-bottom: .39rem !important;
    }


}

/* Defult */

/* --------------------------------------- */

/* Header */

.logo {
    width: 35px;
    transform: translateY(0px);
    opacity: .9;
    margin: 7px 0px !important;
}

.logo:hover {
    transform: scale(.95) !important;
}

.textcasinolivebet {
    color: #3B3B3B !important;
    border-left: 2px solid #DEDEDE !important;
    padding-left: 20px !important;
}

.consecheader {
    background-color: #F7F7F7 !important;
    width: 85% !important;
    border-radius: 200px !important;
}

.header-mainin {
    width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
}

.menu-header-item {
    font-size: 15px;
    margin: 0px 10px;
    position: relative;
}

.menu-header-item a {
    color: #000000 !important;
}

.menu-header-item:hover a {
    color: #830AE8 !important;
}

.menu-header-item a {
    margin: 10px;
    color: #fff;
}


.header-search,
.header-menu-hamber {
    border-radius: 200px;
    background: #F27C47 !important;
    padding: 12px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 119px;
    width: 44px;
    height: 44px;
    font-size: 17px;
    z-index: 30000 !important;
}

.header-search:hover {
    background-color: #F27C47 !important;
}

.header-menu-hamber {
    display: none !important;
    z-index: 2 !important;
}

.header-menu-hamber i {
    color: #fff !important;
}


.header-search input {
    background-color: transparent;
    margin: 0 10px;
    display: none;
}




.header-search:hover {
    width: 250px;
}

.header-search:hover input {
    display: block;
}

.header-search input {
    color: #fff !important;
}

.header-search input::placeholder {
    color: #fff !important;
}

.menu-header-hambergerCLS {
    position: absolute;
    top: 75px;
    left: 153px;
    border-radius: 7px !important;
    height: 0px;
    overflow: hidden;
    backdrop-filter: blur(0px);
}

.menu-header-hamberger {
    position: absolute;
    background: #840ae8ea !important;
    box-shadow: 3px 3px 0px 1px #EFE77E !important;
    top: 85px;
    left: 153px;
    border-radius: 20px !important;
    height: auto;
    overflow: hidden;
    z-index: 555555555;
    backdrop-filter: blur(5px);
}

.menu-header-hamberger .menu-header-item {
    display: none !important;
}


.mibtn {
    padding: 12px 17px;
    border-radius: 200px !important;
    height: 44px;
    cursor: pointer;
    background-color: #830AE8;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.mibtn a {
    color: #FFFFFF !important;
}

.mibtn,
.btnintro,
.mibtn2 {
    transform: rotate(0deg);
}

.mibtn:hover {
    transform: rotate(-5deg);
}

.btnintro:hover {
    transform: rotate(-5deg);
}

.mibtn2:hover {
    transform: rotate(-5deg);
}



.menu-header-item-selected::before {
    content: "";
    width: 14px;
    height: 5px;
    border-radius: 200px !important;
    background: linear-gradient(#F27C47, #F27C47);
    position: absolute;
    margin: 0 auto !important;
    bottom: -3px;
}


@media (max-width: 1299px) {
    .consecheader {
        width: 80% !important;
    }
}

@media (max-width: 992px) {
    .menu-header-item {
        margin: 10px 12px;
    }

    .consecheader {
        width: fit-content !important;
        background-color: transparent !important;
        padding: 0px !important;
        margin: 0px !important;
        display: block !important;
    }

    .logo {
        width: 44px !important;
    }

    .menu-header-item a {
        color: #fff !important;
    }

    .menu-header-item:hover a {
        color: #EFE77E !important;
    }


    .header-search {
        left: 140px;
    }

    .menu-header-item a {
        font-size: 14px !important;
        margin: 0 5px;
    }

    .mibtn a {
        font-size: 16px !important;
    }

    .menu-header-item {
        display: none !important;
    }

    .menu-header-hamberger .menu-header-item {
        display: flex !important;
    }

    .menu-header-item:first-child {
        display: flex !important;
    }

    .header-menu-hamber {
        display: flex !important;
        left: 190px;
    }


    .menu-header-item-selected::before {
        content: "";
        width: 80%;
        height: 2px;
        border-radius: 200px !important;
        background: #EFE77E !important;
        position: absolute;
        margin: 0 auto !important;
        bottom: -3px;
    }

    .menu-header-item-selected a {
        color: #EFE77E !important;
    }

    .menu-header-item-selected:hover a {
        color: #EFE77E !important;
    }


}

.menu-header-hamberger .menu-header-item a,
.menu-header-hamberger .menu-header-item img {
    margin: 5px 10px !important;

}

@media (max-width: 600px) {
    .header-search {
        left: 120px;
    }

    .mibtn a {
        font-size: 12px !important;
    }

    .menu-header-item a {
        font-size: 14px !important;
    }

    .header-menu-hamber {
        display: flex !important;
        left: 170px;
    }

    .menu-header-hamberger {
        top: 80px;
        left: 130px;
        min-width: 120px !important;
    }

    .menu-header-hambergerCLS {
        top: 70px;
        left: 130px;
    }

    .header-search:hover {
        width: 180px;
    }

    .header-search:hover input {
        width: 100%;
    }

    .header-search:hover img {
        display: none;
    }

    .header-mainin {
        padding: 0px 10px !important;
        margin: 0px !important;
    }

}




/* Header */

/* --------------------------------------- */
/* Body */


/* section1 */
.intro {
    /* background-image: linear-gradient(to top, #3d3d26, #2e3926, #203427, #152e29, #0e2829); */
    position: relative !important;
    z-index: 3;
    margin: auto !important;
    max-width: 1900px !important;
}

.intro-in {
    background-color: transparent;
    background: url(../img/bgintro.png) !important;
    background-size: contain !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    min-height: 700px !important;
    border-bottom: 1px solid #BEBEBE !important;
}



.intro-top {
    font-weight: 18px !important;
    color: #FFFFFF !important;
    padding: 8px 15px !important;
    border-radius: 200px !important;
    padding-bottom: 3px !important;
    background: #830AE8 !important;
    box-shadow: 3px 3px 0px 1px #EFE77E !important;
    margin-top: -20px !important;
    animation: bounceScale3 1.5s infinite !important;
    cursor: pointer;
}

.intro-top:hover {
    box-shadow: 0px 0px 0px 0px #efe77e !important;
}

@keyframes bounceScale3 {

    50% {
        transform: scale(.9) rotate(5deg);
    }
}



.intro h3,
.intro span {
    font-family: "Pinar" !important;
    font-size: 50px;
    text-align: right;
    position: relative;
    font-weight: bolder;
    font-weight: 900 !important;
    text-align: center !important;
    text-align-last: center !important;
}

.intro h3 {
    font-size: 60px;
    font-weight: 900 !important;
    color: #2A2A2A !important;
    text-align: center !important;
    text-align-last: center !important;

}

.intro h3:nth-child(2) {
    margin: 0px !important;
    padding: 0px !important;
}


.bg-gra-yel {
    background-image: linear-gradient(to top, #f06426, #f27122, #f37e1f, #f48b1d, #f4971d);
}


.intro p {
    font-size: 22px !important;
    color: #5E5E5E !important;
    text-align: center !important;
    text-align-last: center !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
}

.btnintro {
    padding: 12px 23px !important;
    border-radius: 10px;
    border: 1px solid #fff !important;
    cursor: pointer;
    font-size: 18px;
    transform: rotate(-10deg) !important;
    margin-left: 120px !important;
    margin-top: 90px !important;
}

.btnarrow {
    background-color: #830AE8 !important;
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 200px !important;
    transform: rotate(-50deg);
    font-size: 17px !important;
    margin-left: -15px !important;
    margin-trim: -5px !important;
    animation: bounceScale2 1.5s infinite;

}

@keyframes bounceScale2 {

    0%,
    100% {
        transform: rotate(140deg) scale(1) translateX(-10px);
    }

    50% {
        transform: rotate(140deg) scale(1) translateX(0px);
    }
}

.btnintro a {
    font-family: "Pinar" !important;

}

.btnintro i {
    font-size: 15px;
    margin: 7px;
    margin-right: 10px;
}

.btnintro:nth-child(2) {
    margin-right: 10px;
    border: none !important;
    background: transparent !important;
    border: 2px solid #F27C47 !important;
    border-radius: 200px !important;
}

.btnintro:nth-child(2) a,
.btnintro:nth-child(2) i {
    color: #3F3F3F !important;
}

.btnintro:nth-child(1) {
    padding: 10px 30px !important;
}

.btnintro:hover {
    transform: scale(.9) rotate(-10deg) !important;
    background-color: #F27C47 !important;
}

.btnintro:hover a {
    color: #fff !important;
}

.godown {
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 50px;
    background-color: #020307;
    border-radius: 200px;
    padding: 10px !important;
    cursor: pointer;
}

.godown a {
    text-decoration: none;
    color: #020307 !important;
}

.godowndiv {
    background-color: #F14141 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 200px;
}


@media (min-width: 992px) {
    .w-lg-70 {
        width: 65% !important;
        max-width: 700px !important;
    }
}

@media (max-width: 1600px) {

    .intro h3 {
        font-size: 4vw !important;
    }

    .intro span {
        font-size: 3vw !important;
    }

    .intro p {
        font-size: 18px !important;
    }
}

@media (max-width: 1200px) {

    .intro h3 {
        font-size: 4vw !important;
    }

    .intro span {
        font-size: 3.5 !important;
    }


}

@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .btnintro {
        margin: 0px !important;
        transform: rotate(0deg) !important;
        margin-top: 5px !important;
    }

    .btnintro:hover {
        transform: scale(.9) !important;
    }

    .intro-in {
        background: none !important;

    }


    .intro-top {
        font-size: 12px !important;
        padding: 5px 10px !important;
        border-radius: 200px !important;
        padding-bottom: 0px !important;
        margin-top: -25px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 35px !important;
        transform: rotate(5deg);
    }



    .intro h3 {
        font-size: 8vw !important;
    }

    .intro span {
        font-size: 6.6vw !important;
    }

    .conimgintro {
        margin-top: -100px !important;
    }

}


@media (max-width: 600px) {


    .btnarrow {
        width: 44px !important;
        height: 44px !important;
        font-size: 15px !important;
        margin-left: 10px !important;
        margin-trim: -5px !important;
        animation: bounceScale2 1.5s infinite;

    }

    @keyframes bounceScale2 {

        0%,
        100% {
            transform: rotate(180deg) scale(1) translateX(-10px);
        }

        50% {
            transform: rotate(180deg) scale(1) translateX(0px);
        }
    }



    .intro p {
        font-size: 14px !important;
        text-align: center !important;
        text-align-last: center !important;
    }

    .intro h3,
    .intro span {
        text-align: center !important;
        text-align-last: center !important;
    }

    .btnintro {
        font-size: 14px !important;
        height: 44px !important;
    }

    .btnintro i {
        font-size: 12px !important;
        margin-top: 6px;
    }

    .btnintro:nth-child(2) {
        padding-top: 10px !important;
    }

    .btnintro:nth-child(2) a {
        margin-top: 1px;
    }

    .btnintro:nth-child(1) {
        padding: 8px 25px !important;
        padding-top: 10px !important;
    }

}


/* section1 */


/* section2 */


/* section2 */

/* section3 */

/* section3 */
/* section4 */


/* section4 */
/* section5 */



/* section2 */





/* section2 */

/* section6 */

.congamesnew {
    border-bottom: 1px solid #BEBEBE !important;
    min-height: 800px !important;
    margin-top: -70px !important;
}


.gamebox {
    width: 32% !important;
    border: 2px solid #F4E8FF !important;
    padding: 25px !important;
    border-radius: 25px !important;
}

.gamebox p {
    color: #3A3A3A !important;
    font-size: 16px !important;
    line-height: 160% !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    text-align: right !important;
    text-align-last: right !important;
    margin-top: 20px !important;
}

.Gsec1 {
    border-bottom: 1px solid #F4E8FF !important;
    padding-bottom: 20px !important;
}

.Gsec1 h3 {
    font-size: 22px !important;
    font-family: "Pinar" !important;
    color: #000000 !important;
    text-align: right !important;
    text-align-last: right !important;
    padding-top: 15px !important;

}

.Gsec1 img {
    width: 60px !important;
}


.gameselected {
    border-bottom: 1px solid transparent !important;
    background-color: #8C00FF !important;
    border-radius: 25px 25px 25px 200px !important;
    position: relative !important;
}

.gameselected::before {
    content: "" !important;
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    left: 25px !important;
    bottom: 25px !important;
    border-radius: 200px !important;
    background: url(../img/icongameselected.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    animation: movegame 1.5s infinite !important;

}




@keyframes movegame {

    0%,
    100% {
        transform: translate(-10px, 10px);
    }

    50% {
        transform: translate(0px, 0px);
    }
}


.gameselected img {
    border-radius: 25px 25px 25px 175px !important;

}

.gameselected .Gsec1 img {
    opacity: 0 !important;
}

.gameselected .Gsec1 h3 {
    color: #FFFFFF !important;
}

.gameselected p {
    color: #FFFFFF !important;
}


@media (max-width: 992px) {

    .gamebox {
        width: 100% !important;
        margin: 15px 0px !important;
    }

    .gamebox:nth-child(1) {
        margin-top: 5px !important;
    }

    .gamebox h3 {
        font-size: 18px !important;
    }

    .Gsec1 img {
        width: 45px !important;
        height: 45px !important;
    }

    .gamebox p {
        font-size: 14px !important;
        line-height: 180% !important;
    }

    .gameselected::before {
        content: "" !important;
        width: 55px !important;
        height: 55px !important;
        position: absolute !important;
        left: 30px !important;
        bottom: 30px !important;
        border-radius: 200px !important;
        background: url(../img/icongameselected.png) !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }

    .congamesnew {
        border-bottom: 1px solid #BEBEBE !important;
        min-height: fit-content !important;
        padding-bottom: 55px !important;
        margin-top: 0px !important;
    }
}

/* section6 */

/* section6.5 */

.conworksnew {
    border-bottom: 1px solid #BEBEBE !important;
    margin-top: -90px !important;
    padding-bottom: 110px !important;
}


.conbox .mibtn2 {
    background-color: #F17D45 !important;
    border: none !important;
    border-radius: 7px !important;
    padding: 8px 28px !important;
}

.conbox .service {
    padding: 30px 40px !important;
}

.conbox .mibtn2:hover {
    border: none !important;
    transform: translateX(-10px) !important;
}

.service:nth-child(2) .mibtn2 {
    background-color: #FFFFFF !important;
}

.conbox .service::before {
    display: none !important;
}

.conbox .service {
    background: url(../img/box1.svg) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 32% !important;
    border-radius: 20px !important;
}

.conbox .service:nth-child(2) {
    background: url(../img/box2.svg) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.conbox .service:nth-child(3) {
    background: url(../img/box3.svg) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


.conbox .service h5 {
    font-size: 24px !important;

}


.conbox .service h5 {
    margin: 0px !important;
}

.conbox .service h5:nth-child(1) {
    margin-bottom: 10px !important;
}

.conbox .service h5:nth-child(2) {
    margin-bottom: 0px !important;
}


@media (max-width: 1600px) {

    .conbox .service h5 {
        font-size: 22px !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .conbox .service h5:nth-child(1) {
        margin-bottom: 15px !important;
    }


}

@media (max-width: 992px) {

    .conworksnew {
        border-bottom: 1px solid #BEBEBE !important;
        margin-top: 22px !important;
        padding-bottom: 50px !important;
    }


    .conbox .service {
        width: 100% !important;
        margin: 10px 0px !important;
    }

    .conbox .service:nth-child(1) {
        margin-top: 5px !important;
    }

}

@media (max-width: 500px) {
    .conbox .service {
        padding: 25px !important;
    }

    .conbox .service h5:nth-child(2) {
        margin-top: 5px !important;
    }

    .conbox .service h5 {
        font-size: 20px !important;
        margin: 0px !important;
    }

    .conbox .service h5:nth-child(1) {
        margin-bottom: 5px !important;
    }


}




/* section6.5 */

/* section7 */

.textheader {
    position: relative !important;
}






.textheaderleft {
    cursor: pointer;
}

.textheaderleft p {
    color: #000000 !important;
    font-family: "Pinar" !important;
}

.textheaderleft i {
    color: #000000 !important;
}

.textheaderleft:hover p {
    color: #8C00FF !important;
}

.textheaderleft:hover i {
    color: #8C00FF !important;
}


/* section7 */
/* section8 */

.conservicenew {
    border-bottom: 1px solid #BEBEBE !important;
    min-height: 430px !important;
    margin-top: -90px !important;
    padding-bottom: 60px !important;
}


.boxitem1 {
    background-color: #F0F1FF;
    /* border: 2px solid #ffffff; */
    border-bottom: 0px !important;
    padding-left: 20px;
    color: white !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    backdrop-filter: blur(30px) !important;
    position: relative;
}

.boxitem1:hover {
    background-color: #f0f1ffaf !important;
}


.boxitem1::before {
    content: "";
    width: 0% !important;
    height: 100% !important;
    position: absolute;
    right: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    z-index: -1;
    transition: .3s !important;
}

.boxwork:nth-child(odd) .boxitem1:hover::before {
    width: 100% !important;
    background-color: #F27C47 !important;
}

.boxwork:nth-child(even) .boxitem1:hover::before {
    width: 100% !important;
    background-color: #8C00FF !important;
}

.boxwork {
    min-width: 23.5% !important;
    width: 23.5% !important;
}

.boxitem1 h3 {
    font-size: 18px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000 !important;
    padding-right: 10px !important;
}

.boxwork:hover h3 {
    color: #fff !important;
}

.boxitem1 img {
    height: 100% !important;
    margin-top: -1px !important;
}

@media (max-width: 992px) {
    .boxwork {
        width: 100% !important;
    }

    .conservicenew {
        border-bottom: 1px solid #BEBEBE !important;
        min-height: 430px !important;
        margin-top: -10px !important;
        padding-bottom: 45px !important;
    }

}

@media (max-width: 600px) {
    .boxitem1 {
        padding: 0px !important;
        padding-right: 0px !important;
        border-radius: 15px !important;
    }

    .boxwork:nth-child(1) {
        margin-top: 15px !important;
    }

    .boxitem1 img {
        height: 50px !important;
    }

    .boxitem1 h3 {
        font-size: 14px !important;
        line-height: 35px !important;
        margin-left: 10px !important;
    }

    .textservice {
        font-size: 16px !important;
    }
}



/* section8 */


.conblognew {
    border-bottom: 1px solid #BEBEBE !important;
    margin-top: -35px !important;
    padding-bottom: 95px !important;
}




.textmboxblog {
    font-size: 18px !important;
    text-align: right !important;
    text-align-last: right !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    font-weight: 100 !important;
}

.textmboxblog2 {
    font-size: 16px !important;
    font-size: 18px !important;
    text-align: right !important;
    text-align-last: right !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
    font-weight: 100 !important;
    color: #c4c4c6 !important;
    line-height: 200% !important;
}

.conarticle {
    /* background-image: linear-gradient(to right, #041a1e, #041a1e, #041a1e, #041a1e, #041a1e, #061d22, #062127, #06242b96, #062c356e, #07354079, #073d4b7a, #07465665); */
    direction: rtl !important;
}

.bg-blog1 {
    border-radius: 25px !important;
    overflow: visible !important;
    position: relative;
}

.bg-blog1 img {
    border-radius: 5px !important;
}

.titleblog1 {
    font-size: 40px !important;
    font-family: "dana" !important;
    font-weight: 900 !important;
    text-align: right !important;
}

.textblog1 {
    font-size: 22px !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    text-align-last: right !important;
    direction: rtl !important;
    color: lab(100% 0.01 -0.01 / 0.8) !important;
}

.textblog11 {
    font-size: 18px !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    text-align-last: right !important;
    direction: rtl !important;
    color: #6949e7 !important;
}

.article>* {
    direction: ltr !important;
    text-align: left !important;
}

.article p {
    margin-top: 10px;
    text-align: justify;
    text-align-last: right !important;
    font-size: 23px;
    line-height: 200%;
    color: #cbcbcb;
}

.endarticle img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    position: relative;
    z-index: 10000000000000;
}

.conimg {
    position: relative;
}

.textmbox {
    text-align: justify;
    text-align-last: right;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
}

.items p {
    font-size: 14px !important;
    color: #fff;
    position: relative;
    padding-left: 15px;
}

.items p::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d81b31;
    position: absolute;
    left: 0px;
    border-radius: 200px;
    top: 9px;
}

.title-bg {
    color: #d81b31;
    position: relative;
}

@media (max-width: 1600px) {
    .article h3 {
        font-size: 24px;
    }

    .article p {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .article p {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .bg-blog1 img {
        transition: 1s !important;
        transform: translateY(0px);
        border: 3px solid transparent !important;
    }

    .bg-blog1:hover img {
        transform: translateY(-30px);
    }
}

@media (max-width: 992px) {
    .conblognew {
        border-bottom: 1px solid #BEBEBE !important;
        margin-top: 0px !important;
        padding-bottom: 35px !important;
    }

    .textblog1 {
        display: -webkit-box !important;
        -webkit-box-orient: vertical !important;
        -webkit-line-clamp: 6 !important;
        overflow: hidden !important;
    }

    .bg-blog1 {
        border-radius: 25px !important;
        overflow: visible !important;
        position: relative;
    }

    .bg-blog1 {
        padding: 0px !important;
        position: relative;
    }

    .bg-blog::before {
        display: none;
    }

    .Wmd100 {
        width: 100% !important;
    }

    .article h3 {
        font-size: 20px;
    }

    .bg-blog1::before {
        content: "";
        left: 0px;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 70% !important;
        position: absolute;
        background-size: cover;
        background-position: top center;
        z-index: -1 !important;
    }
}

@media (max-width: 768px) {
    .textmbox {
        text-align: justify;
        text-align-last: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
    }

    .article h3 {
        font-size: 18px !important;
    }

    .article p {
        font-size: 14px !important;
        margin-top: 3px !important;
    }

    .endarticle img {
        width: 15px !important;
        height: 15px !important;
    }

    .endarticle span {
        font-size: 12px !important;
    }

    .items p {
        font-size: 10px !important;
        margin: 10px !important;
        text-align-last: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: justify !important;
        overflow: hidden;
        padding-left: 20px !important;
    }

    .items p::before {
        content: "";
        width: 7px;
        height: 7px;
        background-color: #d81b31;
        position: absolute;
        left: 0px;
        border-radius: 200px;
        top: 15px;
    }

    .titleblog1_1 {
        font-size: 16px !important;
    }

    .conbox small {
        font-size: 10px !important;
        padding-top: 4px !important;
    }

    .textmboxblog2 {
        font-size: 14px !important;
        line-height: 200% !important;
    }
}

/* section8.5 */


/* section8.5 */






/* section 9 */

.conmessagenew {
    border-bottom: 1px solid #BEBEBE !important;
    margin-top: -35px !important;
    padding-bottom: 160px !important;
}

.conmymessage {
    position: relative !important;
}


.intro-message {
    color: #525252 !important;
    font-size: 18px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    text-align: center !important;
    text-align-last: center !important;
}



.message {
    width: 70% !important;
    background: #F0F1FF !important;
    border-radius: 25px !important;
    padding: 35px !important;
    position: relative !important;
    overflow: hidden !important;
}

.message:nth-child(1),
.message:nth-child(3) {
    position: absolute !important;
}

.message:nth-child(1) {
    right: 0px !important;
    transform: scale(.8);
    filter: blur(5px) !important;
    z-index: -1;
}

.message:nth-child(3) {
    z-index: -1;
    left: 0px !important;
    transform: scale(.8);
    filter: blur(5px) !important;
    z-index: -1;
}

.message::before {
    content: "";
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    background: url(../img/conmessage.svg);
    background-size: 20% !important;
    background-position: left bottom !important;
    background-repeat: no-repeat !important;
    left: 15% !important;
    bottom: -23% !important;
    opacity: .6 !important;
}

.message small {
    font-size: 12px !important;
    color: #25314C !important;
    font-weight: 900 !important;

}


.message p {
    color: #5D6770 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    text-align: right !important;
    text-align-last: right !important;
    font-size: 16px !important;
    line-height: 200% !important;
}


.message h3 {
    font-size: 18px !important;
    color: #5D6770 !important;
    text-align: right !important;
    text-align-last: right !important;
    font-weight: 900 !important;
}


.message h5 {
    font-size: 16px !important;
    color: #5D6770 !important;
    text-align: right !important;
    text-align-last: right !important;
}

.message .userimg {
    width: 60px !important;
    height: 60px !important;
}


@media (min-width: 992px) {
    .w-lg-70 {
        width: 70% !important;
    }
}

@media (max-width: 992px) {


    .message {
        width: 100% !important;
        border-radius: 20px !important;
        padding: 25px !important;
        padding-bottom: 20px !important;
        position: relative !important;
        overflow: hidden !important;
    }







    .message p {
        font-size: 14px !important;
        line-height: 180% !important;
        margin-top: 15px !important;
    }


    .message h3 {
        font-size: 16px !important;
    }


    .message h5 {
        font-size: 14px !important;
    }

    .message img {
        width: 60px !important;
    }

    .message .userimg {
        width: 50px !important;
        height: 50px !important;
    }



    .message small {
        font-size: 10px !important;

    }


    .message::before {
        content: "";
        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
        background: url(../img/conmessage.svg);
        background-size: 30% !important;
        background-position: left bottom !important;
        background-repeat: no-repeat !important;
        left: 10% !important;
        bottom: -10% !important;
        opacity: .5 !important;
    }



    .intro-message {
        color: #525252 !important;
        font-size: 14px !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2 !important;
        overflow: hidden;
        text-align: center !important;
        text-align-last: center !important;
        line-height: 200% !important;
        width: 90% !important;

    }




    .conmessagenew {
        border-bottom: 1px solid #BEBEBE !important;
        margin-top: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 85px !important;
    }
}


/* section 9 */




/* section 10 */


/* section 10 */
/* section 11 */

.conquestionnew {
    border-bottom: 1px solid #BEBEBE !important;
    margin-top: -90px !important;
    padding-bottom: 110px !important;
    margin-bottom: 50px !important;
}


.boxitem {
    background-color: #F0F1FF !important;
    padding: 10px 10px !important;
    padding-bottom: 0px !important;
    color: white !important;
    overflow: hidden !important;
    cursor: pointer;
    border-radius: 15px !important;
    padding-right: 20px !important;
}

.borderselected {
    background-color: #8C00FF !important;
}


.borderbotm {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.178) !important; */
}

.boxitemshow {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
    padding: 23px !important;
    padding-bottom: 5px !important;
    color: white !important;
    font-size: 18px !important;
    overflow: hidden !important;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #F0F1FF !important;
    border-radius: 15px !important;

}

.boxitemshowclose {
    margin-top: 20px !important;
    height: 0px;
    padding: 0px !important;
    color: white !important;
    font-size: 18px !important;
    overflow: hidden !important;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 0px !important;
}

.boxitemshow p,
.boxitemshowclose p {
    font-size: 18px !important;
    color: #252525;
    text-align: justify;
    text-justify: justify;
    line-height: 35px;
}

.boxitem h3 {
    font-size: 20px !important;
    color: #373737 !important;
}


.borderselected h3 {
    color: #FFFFFF !important;
}

.boxitem img {
    width: 40px !important;
    padding-bottom: 10px !important;
}

@media (max-width: 992px) {
    .conquestionnew {
        border-bottom: 1px solid #BEBEBE !important;
        margin-top: -15px !important;
        padding-bottom: 45px !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 600px) {
    .boxitem {
        padding: 10px !important;
        padding-bottom: 0px !important;
        padding-right: 20px !important;
    }

    .boxitemshow p {
        font-size: 14px !important;
    }

    .boxitem h3 {
        font-size: 14px !important;
        line-height: 35px !important;
        margin-left: 10px !important;
    }

    .boxitem img {
        width: 25px !important;

    }

    .boxitemshow {
        padding: 15px 20px !important;
        padding-bottom: 5px !important;
    }

}

/* section 11 */

/* Body */



/* Footer */

.bgfooter {
    background-color: #F7F7F7;
    border-radius: 200px !important;
    overflow: hidden !important;
}

.rightfooter,
.leftfooter {
    background-color: #F7F7F7;
    backdrop-filter: blur(100px) !important;
    border-radius: 200px !important;
    padding: 10px;
    min-height: 70px !important;
}

.rightfooter {
    width: 88% !important;
}

.leftfooter {
    width: 13% !important;
}

.rightfooter .p {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #000000 !important;
}

.rightfooter .p:hover {
    color: #8C00FF !important;
}

.rightfooter .circle {
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 200px;
    font-size: 10px;
    cursor: pointer;
    backdrop-filter: blur(20px) !important;
}

.rightfooter .circle i {
    color: #830AE8;
}

.rightfooter .circle:hover {
    opacity: 0.6;
}

.leftfooter a {
    width: 40% !important;
    margin: 0;
    height: 100%;
    background-color: #830AE8;
    backdrop-filter: blur(50px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 45px !important;
    height: 45px !important;
}

.leftfooter a:nth-child(2) {
    background-color: #F27C47 !important;
}

.leftfooter a img {
    transform: rotate(0deg);
}

.leftfooter a:hover img {
    transform: rotate(360deg);
}

.leftfooter a:hover {
    background-color: #20202091;
    backdrop-filter: blur(20px) !important;
}

.goup {
    background-color: #830AE8 !important;
    padding: 10px !important;
    border-radius: 200px !important;
    max-height: 45px !important;
}


.goup a {
    font-size: 15px !important;
    margin-top: -1px !important;
}

.copyright span {
    font-size: 12px !important;
    color: #3B3B3B !important;
}


@media (max-width: 1200px) {
    .leftfooter a {
        width: 40px !important;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 40px;
    }

    .rightfooter {
        width: 100% !important;
        order: 5;
        border-radius: 10px 10px 0px 0px !important;
    }

    .leftfooter {
        order: 3;
        align-self: flex-end;
        width: 160px !important;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {

    footer .textcasinolivebet {
        border-left: none !important;
    }

    footer .logo {
        max-width: 40px !important;
    }

    .bordertop {
        border-top: 1px solid #BEBEBE !important;
    }

    .bgfooter {
        background-color: transparent;
        border-radius: 0px !important;
        overflow: hidden !important;
    }

    .rightfooter,
    .leftfooter {
        background-color: transparent;
        backdrop-filter: blur(100px) !important;
        border-radius: 0px !important;
        padding: 10px;
        min-height: 70px !important;
    }


}

@media (max-width: 600px) {



    .rightfooter .p {
        margin-left: 5px !important;
        margin-right: 5px !important;
        font-size: 14px !important;
    }

    .copyright {
        background-color: #F0F1FF;
        backdrop-filter: blur(100px) !important;
        padding-bottom: 10px !important;
    }

    .copyright span {
        font-size: 12px !important;
        color: #fff !important;
    }

    .leftfooter {
        padding: 0px !important;
        width: 130px !important;
        max-height: 50px !important;
        min-height: 50px !important;
    }

    .leftfooter a {
        padding: 0px !important;
        min-width: 40px !important;
        min-height: 40px !important;
        max-width: 40px !important;
        max-height: 40px !important;
        border-radius: 200px !important;
        margin: 0 10px !important;
    }

    .leftfooter a img {
        max-width: 16px !important;
    }

    .goup {
        background-color: #830AE8 !important;
        padding: 10px !important;
        border-radius: 200px !important;
        max-height: 45px !important;
    }


    .goup .p {
        font-size: 13px !important;
        margin-top: -1px !important;
        margin-left: 10px !important;
    }

    .copyright {
        padding: 0px !important;
        padding-top: 5px !important;
    }
}

/* Footer */


/* carousel-indicators */

.carousel-indicators {
    bottom: -50px !important;
}

.carousel-indicators li {
    background-color: #CECECE !important;
    bottom: -30px !important;
    border-radius: 200px !important;
    width: 7px !important;
    height: 7px !important;
}

.carousel-indicators .active {
    background: linear-gradient(#8C00FF, #8C00FF) !important;
    width: 15px !important;
}

@media (max-width: 600px) {

    .carousel-indicators {
        bottom: -40px !important;
    }


    .carousel-indicators li {
        background-color: #CECECE !important;
        border-radius: 200px !important;
        width: 5px !important;
        height: 5px !important;
    }

    .carousel-indicators .active {
        background: linear-gradient(#8C00FF, #8C00FF) !important;
        width: 10px !important;
    }

}